html {
  font-family: "IBM Plex Sans", sans-serif;
}

header {
  background-color: #ddd;
}

img {
  max-width: 200px;
}

.number-title {
  background-color: #efefef;
}

.first {
  background-color: #fff;
  border-radius: 3px;
}

.second {
  background-color: #fff;
  border-radius: 3px;
}

.third {
  background-color: #fff;
  border-radius: 3px;
}

table {
  min-width: 44em;
}

.search-icon {
  background-image: url("image/search.svg");
}
